<h1>Image#show</h1>
<p>Find me in app/views/image/show.html.erb</p>
<%= image_tag @image.location %>
<p><strong>size:</strong></p>
<ul>
  <li>width: <%= @image.width %></li>
  <li>height: <%= @image.height %></li>
</ul>
