<h1>WikiPage#list</h1>

<% if @pages.blank? %>
  <p><strong> No Wiki pages on the site :(</strong></p>
  <%= link_to 'Would you like to create one', action: 'new' %>
<% end %>

<% @pages.each do |page|%>
  <p><%= page.title %></p>
<% end %>
