<h2>Page Listing</h2>

<% if @pages.blank? %>
  <p><strong> No Wiki pages on the site :(</strong></p>
<% end %>

<p>
  <input type="text" id="searchInput" onkeyup="filterList()" placeholder="Search page titles...">
  <div class="collection">
    <ul id="wikiPages" style="padding-left: 0 !important; list-style-type: none !important; margin: 0">
      <% @pages.each do |page|%>
       <li class="collection-item"><%= link_to page.current_revision.title, wiki_page_path(page) %></li>
      <% end %>
    </ul>      
  </div>
</p>

<p>
  <%= button_to 'Create a new page', new_wiki_page_path, method: :get, class: "waves-effect waves-light btn orange accent-3"%>
</p>