<h1>WikiPage#list</h1>

<% if @pages.blank? %>
  <p><strong> No Wiki pages on the site :(</strong></p>
  <%#= link_to 'Would you like to create one', action: 'new' %>

<% end %>

<% @pages.each do |page|%>
  <%= link_to page.title, wiki_page_path(page) %><br>
<% end %>

<%= button_to 'Create a new page?', new_wiki_page_path, method: :get, class: "waves-effect waves-light btn orange darken-3"%>