<h1>WikiPage#list</h1>

<% if @pages.blank? %>
  <p><strong> No Wiki pages on the site :(</strong></p>
<% end %>

<% @pages.each do |page|%>
  <h2><%= page.title %></h2>
  <%= raw page.html %>
  <hr>
<% end %>