<h1>Test#admin</h1>
<p>Find me in app/views/test/admin.html.erb</p>
<%= javascript_include_tag('popup.js') %>
 <div class="popup" onclick="myFunction()">Click me I am an animated popup!
  <span class="popuptext" id="myPopup">Feed me information</span>
 </div>

